<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add user</title>
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <span th:text="${currentUser.getUsername()}"></span>
                <span>with roles: </span>
                <span th:each="role : ${currentUser.getRoles()}"
                      th:text="${role.name.replace('ROLE_', '') + ' '}"></span>
            </span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="mt-3">
</div>

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-2 p-0 mt-2">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a th:href="@{/admin}" class="nav-link active"
                       aria-current="page">
                        Admin
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/user}" class="nav-link link-dark">
                        User
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 bg-light vh-100">
            <div class="mt-3">
            </div>
            <h1>Admin panel</h1>
            <div>
                <ul class="nav nav-tabs ml-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/user-create">New user</a>
                    </li>
                </ul>

                <div class="border rounded p-3 ml-0">
                    <h5 class="mb-0">Add new user</h5>
                </div>

                <div class="border rounded p-3 ml-0 bg-white">
                    <table class="table table-striped">
                        <tr class="text-center">
                            <td style="border: none;" class="bg-white">
                                <form id="addUser" action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">
                                    <div class="mb-3">
                                        <label for="firstName" class="form-label fw-bold">First name</label>
                                        <input type="text" class="form-control col-4 mx-auto" id="firstName" name="firstName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="lastName" class="form-label fw-bold">Last name</label>
                                        <input type="text" class="form-control col-4 mx-auto" id="lastName" name="lastName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="age" class="form-label fw-bold">Age</label>
                                        <input type="number" class="form-control col-4 mx-auto" id="age" name="age">
                                    </div>
                                    <div class="mb-3">
                                        <label for="username" class="form-label fw-bold">Email</label>
                                        <input type="text" class="form-control col-4 mx-auto" id="username" name="username">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label fw-bold">Password</label>
                                        <input type="text" class="form-control col-4 mx-auto" id="password" name="password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="role" class="form-label fw-bold">Role</label>
                                        <div class="form-floating">
                                            <select class="form-select col-4 mx-auto" multiple aria-label="Role" id="role" size="2"
                                                    name="roles">
                                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${#strings.replace(role.name, 'ROLE_', '')} + ' '"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" form="addUser" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>