<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<h2>Admin</h2>
<div th:each="user : ${allUsers}" class="user">
    <div class="user__info">
        <p><strong>Username:</strong> <span th:text="${user.getUsername()}">Username</span></p>
        <p><strong>Password:</strong> <span th:text="${user.getPassword()}">Password</span></p>
        <p><strong>Email:</strong> <span th:text="${user.getEmail()}">Email</span></p>
        <p><strong>Role:</strong> <span th:text="${user.getRoles()}">Email</span></p>
    </div>
    <div class="user__actions">
        <a th:href="@{/admin/user/{id}(id=${user.getId()})}" class="button">View</a>
    </div>
</div>
<br><br>
<div sec:authorize="hasRole('ADMIN')">
    <form action="/admin/new" method="GET">
        <input type="submit" value="Add user" />
    </form>
</div>
<br>
<form th:method="GET" th:action="@{/user}">
    <input type="submit" value="My Page"/>
</form>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>