<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Изменение пользователя</h2>
<div>
    <form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.getId()})}" th:object="${user}" >
        <label for="username">Enter new username:</label>
        <input type="text" th:field="*{username}" id="username"/>
        <label for="password">Enter new password:</label>
        <input type="text" th:field="*{password}" id="password"/>
        <label for="email">Enter new email:</label>
        <input type="text" th:field="*{email}" id="email"/>

        <div class="form-group row">
            <label class="col-4 col-form-label">Roles: </label>
            <div class="col-8">
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}" class="m-2" />
                </th:block>
            </div>
        </div>

        <br/>
        <input type="submit" value="Change!">
    </form>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>